.hero {
  height: 90vh;
  display: flex;
  align-items: center;
}

.heroContainer {
  width: 90%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
}

.hori {
  width: 750px;
  height: 3px;
  background: #201f22;
  margin-top: -50px;
  margin-left: 50px;
}

.vert {
  width: 3px;
  height: 200px;
  background: #201f22;
  margin-left: 750px;
}

.heading {
  font-size: 96px;
  font-weight: 400;
  position: absolute;
  top: 40px;
  left: 70px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.clear {
  height: 200px;
  width: 5px;
  background: #201f22;
  position: absolute;
  left: 0px;
  top: 0px;
}
.heroNiko {
  margin: 0 auto;
  display: flex;
  gap: 48px;
}

.secondHero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItems {
  position: relative;
  color: rgb(223, 223, 223);
}

.heroTitle {
  color: rgb(223, 223, 223);
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Fugaz One", cursive;
  font-weight: 400;
  z-index: 1;
}

.heroTitle > span {
  color: #201f22;
}

.heroTitle.clone {
  position: absolute;
  top: 0;
  left: 197px;
  pointer-events: none;
  color: #201f22;
  clip-path: inset(0 100% 0 0);
  transition: all 0.5s cubic-bezier(0.077, 0, 0.175, 1);
}

.heroTitle:not(.clone) {
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: rgb(223, 223, 223);
  color: transparent;
}

.heroTitlee:not(.clone):hover {
  cursor: pointer;
}

.heroTitle:not(.clone):hover ~ .clone {
  clip-path: inset(0 0 0 0);
}

.paras {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paras > p {
  font-size: 1.2rem;
  font-weight: 600;
}

.heroLinkButtons {
  display: flex;
  gap: 20px;
}

.callToAction {
  margin-top: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.callToAction > a {
  transition: all 0.5s ease;
  color: #201f22;
  font-size: 1.2rem;
  text-transform: lowercase;
}

.callToAction > a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #201f22;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  margin-top: 2px;
}

.callToAction > a:hover::after {
  width: 100%;
}
