.top-banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0 5vw;
  z-index: 0;
}

.top-banner-content {
  border: 2px solid #201f22;
  max-width: max-content;
  padding: 10px 20px;
}

.top-banner-content:hover {
  border-color: rgb(255, 255, 255);
  background: rgb(32, 31, 34, 0.25);
}

.top-banner-content > h1 {
  font-size: 2.5rem;
  line-height: 1.3;
  color: #201f22;
}

.top-banner-content span {
  font-style: italic;
  font-weight: 400;
  font-size: 4rem;
  transition: all 0.4s ease-in-out;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.top-banner-content:hover span {
  cursor: pointer;
  letter-spacing: 10px;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(223, 223, 223);
}

.top-banner-content:hover h1 {
  color: rgb(255, 255, 255);
}

.top-banner-content:hover .resp-iframe {
  opacity: 1;
}

.resp-iframe {
  box-sizing: border-box;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%) scale(1.1);
  left: 50%;
  top: 50%;
  pointer-events: none;

  z-index: -1;
  background: rgb(223, 223, 223);
  opacity: 0;
  transition: all 1s cubic-bezier(0.077, 0, 0.175, 1);
  filter: grayscale(1) blur(4px);
}

.back-text {
  position: absolute;
  opacity: 0.1;
  writing-mode: vertical-lr;
  transform: translate(-50%, -50%) scale(1.1);
  left: 50%;
  top: 50%;
  letter-spacing: 20px;
  pointer-events: none;
}

.back-heading {
  font-size: 3rem;
}

.menu-list {
  margin-top: 100vh;
  background-color: #201f22;
  position: relative;
  padding: 1vh 0;
  z-index: 1000;
}

.menu-item {
  position: relative;
}

.menu-title {
  color: rgb(223, 223, 223);
  font-size: 8rem;
  text-transform: uppercase;
  padding: 4vh 4vw;
  font-family: "Fugaz One", cursive;
  font-weight: 400;
  z-index: 1;
}

.menu-title > span {
  color: rgb(223, 223, 223);
}

.menu-title.clone {
  position: absolute;
  top: 0;
  pointer-events: none;
  color: rgb(223, 223, 223);
  clip-path: inset(0 100% 0 0);
  transition: all 0.8s cubic-bezier(0.077, 0, 0.175, 1);
}

.menu-title:not(.clone) {
  margin: 10vh 0;
  -webkit-text-stroke-width: 3px;
  -webkit-text-fill-color: #201f22;
  color: transparent;
}

.menu-title:not(.clone):hover {
  cursor: pointer;
}

.menu-title:not(.clone):hover ~ .clone {
  clip-path: inset(0 0 0 0);
}

.menu-title:not(.clone):hover ~ .menu-image-container .menu-image {
  opacity: 1;
  transform: scale(1.1);
  filter: blur(0) brightness(0.7);
}

.menu-image-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

.menu-image {
  opacity: 0;
  background-size: cover;
  background-position: center;
  filter: blur(1px) brightness(3);
  transform: scale(1);
  width: 100%;
  height: 100%;
  transition: all 0.8s cubic-bezier(0.077, 0, 0.175, 1);
}

.scrolldown {
  font-size: 5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s cubic-bezier(0.077, 0, 0.175, 1);
  cursor: pointer;
  opacity: 0.1;
}

.scrolldown > span {
  color: #201f22;
}

.scrolldown:hover {
  bottom: 0;
}
